<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lockwood.glide">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Allows Glide to monitor connectivity status and restart failed requests -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To use ExternalPreferredCacheDiskCacheFactory to store Glide’s cache on the public sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>